<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Pagina Principal</title>
        <link rel="stylesheet" href="index.css">
    </head>
    <body>
        <header>
            <a href="#" class="logo">
                <img src="images/logo.png" alt="Logo de la compañia">
                <h2>Nombre de la compañia</h2>
            </a>
            <nav>
                <a href="http://localhost:8080/login" class="nav-link">Ingresar</a>
                <a href="" class="nav-link">Sobre nosotros</a>
            </nav>
        </header>
        <div class="titulo">
            <h1>Bienvenido a tu centro de salud</h1>
        </div>
        <div class="titulo">
            <br>
            <p>Si queres sacar un turno con nuestros profesionales y todavía no tienes una cuenta, puedes crearla <a href="http://localhost:8080/paciente/registrar"> Aqui </a></p>
        </div>
    </body>
</html>