<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Pagina Principal</title>
        <link rel="stylesheet" href="style3.css">
    </head>
    <body>
        <header>
            <a href="#" class="logo">
                <img src="logo.png" alt="Logo de la compañia">
                <h2>Nombre de la compañia</h2>
            </a>
            <nav>
                <a href="" class="nav-link">Modificar los datos</a>
                <a href="" class="nav-link">Mirar tus turnos</a>
                <a href="" class="nav-link">Sobre nosotros</a>
            </nav>
        </header>
        <div class="titulo">
            <h1>Bienvenido a tu centro de salud</h1>
        </div>
    </body>
</html>