<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>MODIFICAR</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="" rel="stylesheet" integrity="" crossorigin="anonymous">

    </head>
    <body>
        
        <!--
        Aca va el script
                
        Aca va el NAV BAr
        
        -->
  
        
        <div>      
            <form th:action="@{/profesional/modificar/__${noticia.id}__}" method="POST">
                <input hidden th:value= "${id}" name="id">

                     
                <div class="mb-3"> 
                    <label >Nombre</label>
                    <input th:value="${profesional.nombre}" type="text" name="nombre" placeholder="Nombre" class="form-control" id="exampleFormControlInput1">
                </div>

                <div class="mb-3">
                    <label>Apellido</label> 
                    <label for="exampleFormControlTextarea1" class="form-label">Apellido</label>
                    <input th:value="${profesional.apellido}" name="apellido" class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>       
                </div>
                    
                       
                                    

                <button type="submit">Actualizar</button>
            </form>

            <div th:if="${exito}!=null" >
                <div >
                    <h5>Exito</h5>
                    <p th:text="${exito}"></p>
                </div>
            </div>
            
            <div th:if="${error}!=null" >
                <div >
                    <h5>Error</h5>
                    <p th:text="${error}"></p>
                </div>
            </div>
            
            <section>
                <div>
                    <div>
                        <a th:href="@{/}">Volver</a>
                    </div>
                </div>
            </section>
        </div>

    </body>
</html>
