<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="ISO-8859-1">
        <title>Registro de Libros</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
        <link rel="stylesheet" href="/css/formulario(camo).css">
    </head>
    <body>

        <div class = "container-fluid m-5 contenedor">
            <form class = "formulario" action ="/usuario/registro" method="POST" enctype="multipart/form-data">


                <div th:if="${Error != null}" class="card text-white bg-danger mb-3 mensajeError" >
                    <div class="card-body">
                        <h5 class="card-title">Error 👎</h5>
                        <p class="card-text" th:text="${Error}"></p>
                    </div>
                </div>
                <div th:if="${Exito != null}" class="card text-white bg-success mb-3 mt-3 mensajeExito" >
                    <div class="card-body">
                        <h5 class="card-title">Exito!</h5>
                        <p class="card-text" th:text="${Exito}"></p>
                    </div>
                </div>


                <div class="form-group my-3">
                    <label class="mb-2">Cargar Usuario</label> 
                    <input type="text" class="form-control" name="nombre" placeholder="Nombre"> 
                </div>
                <div class="form-group my-3">
                    <input type="text" class="form-control" name="apellido" placeholder="Apellido">
                </div>
                <div class="form-group my-3">
                    <input type="text" class="form-control" name="dni" placeholder="DNI">
                </div>
                <div class="form-group my-3">
                    <input type="text" class="form-control" name="domicilio" placeholder="Domicilio">
                </div>
                <div class="form-group my-3">
                    <input type="text" size="10" class="form-control" name="numeroTelefono" placeholder="Número de Contacto">
                </div>
                <div class="form-group my-3">
                    <input type="text" class="form-control" name="email" placeholder="E-mail">
                </div>
                <div class="form-group my-3">
                    <input type="text" class="form-control" name="password" placeholder="Password">
                </div>
                <div class="form-group my-3">
                    <input type="text" class="form-control" name="password2" placeholder="Reingrese su password">
                </div>
                <div class="form-group my-3">
                    <input list = "Rol" type="text" class="form-control" name="rol" placeholder="Rol">
                        <datalist id="Rol">
                            <option value="Usuario">
                            <option value="Paciente">
                            <option value="Medico">
                            <option value="Admin">                            
                        </datalist>
                </div>
               
                <button type="submit" class="btn btn-primary mt-3 botones"> Subir </button>
            </form>
        </div>
    </body>
</html>
